#heading{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

#sub-heading{
  font-size: 20px;
  text-align: center;
  font-weight: light;
  margin-top: 5px;
  color: red;
}

#card-row{
  margin-left: 15px;
}

#software-card{
  margin: 15px;
}

#searchbarzone{
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  /* background-color: rgb(202, 180, 180); */
  width: 999px;
  align-content: center;
}